<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
  	    window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script id="bootstrap-logo" type="text/javascript">
  window.eulrLogo = "<%= image_path('eulr-logo.png') %>"
  window.eulrLogoSmall = "<%= image_path('eulr-logo-small.gif') %>"
</script>

<main id="root"></main>