.account-menu {
    background-color: white;
	position: absolute;
	top: 45px;
	right: 110px;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: darkgray;
	font-family: sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
    padding: 0;
}

.account-menu > header {
    display: flex;
    justify-content: space-between;
    background: lightgray;
}

.account-menu > header  > * {
    margin: 5px;
}

.account-menu > header > h5 {
    font-weight: bold;
    color: rgb(80, 76, 76);
}

.account-menu > header > button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
}

.account-menu > ul > li:hover {
    background-color: rgb(198, 203, 209);
}

.account-menu > ul > li {
    padding: 10px;
    color: gray;
}

.account-menu > ul > li:hover {
    cursor: pointer;
}

.account-menu > ul > li > * {
    margin-right: 6px;
}

.account-menu i {
    color: black;
}

.account-menu-link {
    text-decoration: none;
    color: gray;
}

