.dash-container {
    display: flex;
    justify-content: center;
}

.dash-header-container {
    display: flex;
}

.dash-container > * {
    margin: 20px;
}

.post-creation-bar-container {
    margin-bottom: 20px;
}

.post-creation-bar-container ul {
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 540px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 3px;
}

.post-creation-bar-container button {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-creation-bar-container button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.post-creation-bar-container span {
    color: gray;
    font-size: 15px;
}

.post-creation-bar-container i {
    font-size: 40px;
    margin-bottom: 10px;
}

.Photo-icon {
    color: rgb(236, 113, 97);
}

.Quote-icon {
    color: orange;
}

.Link-icon {
    color: rgb(57, 187, 57)
}

.Chat-icon {
    color: rgb(93, 192, 224);
}

.Audio-icon {
    color: blueviolet;
}

.Video-icon {
    color: hotpink;
}

.post-bar-section {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}