.session-errors-container {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.session-errors {
    list-style: none;
}

.session-errors > li {
    background: gray 0.8;
    height: 16px;
    width: 300px;
    box-sizing: border-box;
    color: white;
    padding: 15px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}