.session-errors-container {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.session-errors {
    list-style: none;
}

.session-errors li {
    background: rgb(0, 0, 0, 0.1);
    height: 16px;
    width: 300px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.session-errors span {
    text-align: center;
    color: white;
}