.explore-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.explore-container ul {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
}

.explore-container li {
    width: 300px;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
}