.explore-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.explore-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-list li {
    margin-left: 20px;
}