.explore-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.explore-container ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.explore-container li {
    margin-left: 20px;
}