.messages-index-container {
    position: relative;
}

.message-menu-container {
    width: 280px;
    background: white;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    position: absolute;
    left: -140px;
    top: 40px;
    z-index: 2;
    font-family: sans-serif;
}

.message-menu-header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    padding: 20px;
}

.message-menu-header div {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.message-menu-container img {
    margin-right: 10px;
}

.message-menu-header button {
    border: none;
    background: none;
    font-weight: 900;
    color: rgb(0, 184, 255);
}

.message-menu-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    height: 65px;
}

.message-menu-item h5 {
    font-weight: bold;
}

.message-preview-text-container h5 {
    display: inline;
}

.message-preview-text {
    color: rgb(165, 165, 165);
}

.message-menu-item section {
    display: flex;
    flex-direction: column;
}

.message-menu-transition-appear {
    opacity: 0;
    transform: translateY(-10%);
}

.message-menu-transition-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 250ms, transform 250ms;
}

.message-menu-transition-exit {
    opacity: 1;
    transform: translateY(0);
}

.message-menu-transition-exit-active {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 250ms, transform 250ms;
}

.conversation-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
}

.hidden-conversations-container {
    display: flex;
    flex-direction: column-reverse;
}

.hidden-conversations-container li {
    margin-top: 15px;
}

.active-conversation-container {
    width: 280px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    margin-right: 15px;
    background: white;
}

.active-conversation-container header {
    height: 46px;
    background: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-conversation-container ul {
    height: 236px;
    padding: 20px;
    overflow: auto;
    border-bottom: 1px solid lightgray;
}

.active-conversation-container li {
    display: flex;
    margin-bottom: 15px;
}

.active-conversation-container img {
    margin-right: 10px;
}

.message-text {
    background: lightgray;
    border-radius: 5px;
    padding: 10px;
}

.message-text h5 {
    font-weight: bold;
}

.active-conversation-container footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.active-conversation-container textarea {
    resize: none;
    border: none;
    box-sizing: border-box;
    margin: 10px;
    min-height: 44px;
    max-height: 150px;
    overflow: hidden;
    font-size: 17px;
}