.nav-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.nav-left > img {
    margin-right: 5px;
    margin-left: 5px;
}

.nav-left > .static {
  position:absolute;
  background: white;
}

.nav-left > .static:hover {
  opacity:0;
}

.nav-search {
    height: 31px;
    width: 491px;
    border: 0px;
    border-radius: 2px;
}

.nav-controls-container > ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-controls-container > ul > * {
    margin: 5px 15px;
}

.account-menu-icon {
    background: none;
    border: none;
}

.nav-controls-container i{
    color: rgb(196, 181, 181);
    font-size: 25px;
}