.post-avatar-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.post-container {
    width: 540px;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.post-header-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.post-header-container h4 {
    font-weight: bold;
}

.post-body-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-post-body,
.quote-post-body,
.chat-post-body {
    margin-left: 20px;
}

.link-post-body a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 20px;
}

.link-post-body p {
    margin-left: 20px;
    margin-top: 20px;
}

.post-container > .post-link-header-container {
    padding: 0;
}

.post-footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
}

.post-footer-container button {
    border: none;
    background: none;
    font-size: 25px;
}

.text-post-body h4,
.quote-post-body h4,
.chat-post-body h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.photo-post-body li img {
    width: 100%;
    height: auto;
}

.photo-post-body p {
    margin-left: 20px;
    margin-top: 20px;
}

.post-list-item {
    position: relative;
}

.post-menu {
    background-color: white;
	position: absolute;
    bottom: -65px;
	left: 550px;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 10px;
    width: 130px;
    height: 75px;
	z-index: 2;
	color: darkgray;
	font-family: sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-menu button {
    border: none;
    height: 30px;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
}

.post-menu button:hover {
    background: rgb(219, 228, 236);
}

.post-tags-container {
    margin-left: 20px;
    margin-bottom: 10px;
}

.post-tags-container ul {
    display: flex;
}

.post-tags-container li {
    margin-right: 5px;
}

.post-tags-container span {
    color: gray;
    font-size: 13px;
}