.post-form-container form {
    background: white;
    border-radius: 3px;
    width: 540px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
}

.post-form-container input {
    padding-left: 20px;
    width: 515px;
    border: none;
}

.post-form-container div {
    box-sizing: border-box;
}

.post-form-header {
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    height: 45px;
}

.post-title-input {
    height: 50px;
    font-size: 30px;
}

.post-title-input::placeholder {
    color: rgb(105, 104, 104);
}

.post-body-input {
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
}

.post-link-url-input {
    height: 120px;
    background: lightgray;
    border-top: 1px dashed gray !important;
    border-bottom: 1px dashed gray !important;
}

.post-link-header-container {
    height: 120px;
    background: lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post-link-url {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    font-family: sans-serif;
}

.post-link-title {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-link-summary {
    font-size: 15px;
}

.post-link-header-container input {
    background: none;
    padding: 0;
}

.post-link-title::placeholder {
    color: rgb(52, 51, 51);
    font-weight: bold;
}

.post-link-summary::placeholder {
    color: rgb(52, 51, 51);
    font-size: 15px;
}

.post-body-input::placeholder {
    color: rgb(143, 142, 142);
}

.post-url-input {
    border-top: 2px dashed darkgray !important;
    border-bottom: 2px dashed darkgray !important;
    height: 200px;
    width: 515px;
    margin-bottom: 20px;
}

.post-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 10px;
    height: 60px;
}

.post-form-cancel-button {
    background: rgb(148, 148, 148);
    margin-left: 10px;
}

.post-form-submit-button {
    background: rgb(79, 139, 230);
    margin-right: 10px;
}

.post-form-footer button {
    color: white;
    text-align: center;
    border: none;
}

.post-form-footer input:hover {
    cursor: pointer;
}

.post-form-footer button, .post-form-footer input {
    height: 30px;
    width: 50px;
    font-weight: bold;
    border-radius: 3px;
}

.post-media-option-container {
    border-top: 2px dashed darkgray !important;
    border-bottom: 2px dashed darkgray !important;
    background: lightgray;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.post-media-option-left, .post-media-option-right {
    width: 50%;
}

.post-media-option-left {
    border-right: 1px solid gray !important;
}

.post-media-option-left label {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.file-input-invisible {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.post-media-option-right button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

.media-option-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-option-button i {
    font-size: 40px;
    color: gray;
    margin-bottom: 10px;
}

.media-option-button span {
    color: gray;
    font-size: 15px;
}

.media-post-body-container ul {
    padding: 10px 20px 5px 20px;
}

.media-post-body-container label {
    background: lightgray;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    color: gray;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.post-form-tags-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
}

.post-form-tags-container ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.post-form-tags-container li {
    padding: 5px;
    font-size: 11px;
    color: gray;
}

.post-form-tags-container input {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.post-form-tags-container li:hover {
    background: rgb(215, 214, 214);
    color: rgb(79, 139, 230);
    border-radius: 3px;
}