.post-menu {
    background-color: white;
	position: absolute;
	top: 50px;
	right: 10px;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: darkgray;
	font-family: sans-serif;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
    font-weight: initial;
    padding: 0;
}