.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-container > * {
    margin: 10px;
}

.splash-container > h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Bookman Old Style';
}

.splash-logo {
    height: 150px;
    width: 150px;
}

.splash-container > p {
    color: white;
}

.splash-login {
    background: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.splash-login > span {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.register-button, 
.splash-login,
.demo-button, 
.register-errors > ul > li,
.register-form > .register-submit {
    border: none;
    height: 45px;
    width: 300px;
    font-size: 20px;
}

.register-button, .demo-button {
    color: white;
    background: blue;
}

.register-button > span {
    font-size: 18px;
}

.splash-explore-link, .splash-login {
    text-decoration: none;
}

.splash-explore-link {
    color: white;
    font-size: 18px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-inputs-container > input {
    height: 45px;
    width: 300px;
    font-size: 20px;
    padding: 3px 10px;
    box-sizing: border-box;
}

.register-form > .register-submit {
    margin: 10px;
}