.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.splash-text {
    font-size: 20px;
}

.splash-container > * {
    margin: 10px;
}

.eulr-header {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Bookman Old Style';
}

.splash-logo {
    height: 150px;
    width: 150px;
}

.splash-container > p {
    color: white;
}

.splash-container i {
    margin-right: 7px;
}

.splash-login {
    background: white;
    color: rgb(68, 68, 68);
}

.register-button, 
.splash-login,
.demo-button, 
.register-errors > ul > li,
.register-form > .register-submit {
    border: none;
    height: 45px;
    width: 300px;
    font-size: 20px;
    border-radius: 3px;
}

.register-button, 
.splash-login,
.demo-button {
    font-weight: 700;
    font-size: 18px;
}

.register-button, .demo-button {
    color: white;
    background: rgb(0, 184, 255);
}

.register-button > span {
    font-size: 18px;
}

.splash-explore-link, .splash-login {
    text-decoration: none;
}

.splash-explore-link {
    color: white;
    font-size: 18px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 300px;
    border: transparent;
    border-radius: 3px;
}

.register-inputs-container > input {
    height: 45px;
    width: 300px;
    font-size: 20px;
    padding: 3px 10px;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 3px;
    background: none;
}

.register-form > .register-submit {
    margin: 10px;
}