 .auto-enter {
   opacity: 0.01;
   transform: translateY(30%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }

  .register-transition-appear {
   opacity: 0.01;
   transform: translateX(30%);
 }

 .register-transition-appear.register-transition-appear-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .login-transition-1-appear {
  opacity: 0.01;
  transform: translateY(30%);
}

.login-transition-1-appear.login-transition-1-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.login-transition-2-enter {
  opacity: 0.01;
  transform: translateX(10%);
}

.login-transition-2-enter.login-transition-2-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

  .post-form-transition-appear {
   opacity: 1;
   transform: scaleY(0.3448);
   transform-origin: top;
   height: 100px;
   transition: height 0.25s;
   transition-timing-function: linear;
   margin-bottom: 20px;
 }

 .post-form-transition-appear.post-form-transition-appear-active {
   opacity: 1;
   transform: scaleY(1);
   transform-origin: top;
   height: 312px;
   margin-bottom: 20px;
 }

   .post-form-transition-leave {
   opacity: 1;
   transform: scaleY(0.3448);
   transform-origin: top;
 }

 .post-form-transition-leave.post-form-transition-leave-active {
   opacity: 1;
   transform: scaleY(1);
   transform-origin: top;
   transition: opacity 500ms, transform 500ms;
 }
